/*------------------------------------------------------------------
Theme Name: Xeom
Theme URI: www.az-theme.net/xeom
Description: A Personal Blogging Theme For WordPress
Author URI: http://az-theme.net
Author: AZ-Theme
Version: 1.5.0
License: Themeforest Licence
License URI: http://themeforest.net/licenses
Last change:  28-01-2016
Text Domain: xeom
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, sticky-post, threaded-comments
---------------------------------------------------------------------*/
body {
  background-color: #f5f5f5;
  color: #333;
  font-family: "Roboto",sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 25px;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'Roboto';
	letter-spacing: 2px;
	color: #252525;
	margin-top: 0;
	margin-bottom: 1em;
    text-transform: uppercase;
}
h1{
	font-size: 35px;
	line-height: 40px;
}
h2{
	font-size: 30px;
	line-height: 35px
}
h3{
	font-size: 24px;
	line-height: normal;
}
h4{
	font-size: 16px;
	line-height: 24px;
}
h5{
	font-size: 14px;
	line-height: 20px;

}
h6{
	font-size: 12px;
	line-height: 20px;
}
p {
    margin: 0 0 20px 0;
}
img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}
a {
    color: #f37e7e;
    text-decoration: none;
    transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -webkit-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    -o-transition: color 0.3s ease 0s, background-color 0.3s ease 0s, border-color 0.3s ease 0s;
    outline: none;
}
a:hover, a:focus {
    color: #f37e7e;
    outline: none;
    text-decoration: none;
}
a:active {
    outline: none;
}
iframe, select {
    max-width: 100%;
}
input:focus{
    outline: none
}
input, textarea {
    max-width: 100%;
}
/*-------------------------------*/
/*          WORDPRESS CORE
/*-------------------------------*/
.sticky {}
.screen-reader-text {}
.gallery-caption {}
.bypostauthor{}
.alignnone {
    margin: 5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
}
.alignright {
    float:right;
    margin: 5px 0 20px 20px;
}
.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}
a img.alignnone {
    margin: 5px 20px 20px 0;
}
a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}
a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.wp-caption {
    max-width: 100%;
    text-align: center;
}
.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}
.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}
.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: auto;
}
.wp-caption p.wp-caption-text {
  font-size: inherit;
  font-style:italic;
  color:inherit;
  line-height: 17px;
  margin: 8px 0 0;
}
table, th, td{
  border: 1px solid rgba(0,0,0,0.08);
}
th, td {
  padding: 0.4em;
}
table {
  border-collapse: separate;
  border-spacing: 0;
 border: none;
  margin: 0 0 1.6em;
  table-layout: auto;
  width: 100%;
}
th {
  border-width: 0 1px 1px 1px;
}
td {
  border-width: 0 1px 1px 1px;
}
th {
  border-width: 0 1px 1px 0px;
}
td {
  border-width: 0 1px 1px 0px;
}
tbody tr th{
    font-weight: 400;
}
tbody tr:first-child th{
	border-top-width: 1px;
}
tr td:first-child, tr th:first-child{
  border-left-width: 1px;
}
table tbody tr:first-child td,
table thead tr:first-child th,
table tbody tr:first-child td,
table thead tr:first-child th{
  border-top-width: 1px;
}
table thead + tbody tr:first-child td,
table thead + tbody tr:first-child td,
table tfoot + tbody tr:first-child td{
  border-top-width: 0;
}
blockquote {
  border-left: 5px solid #000000;
}
label{font-weight: 500;}
dt, dd {
  line-height: inherit;
}
/*--- AZTheme: Menu ---*/
#main-menu {
  background-color: #000;
  margin: 0;
  padding: 0;
}
/*---AZTheme: Header---*/
.az-header-wrapper {
  width: 100%;
  z-index: 15;
}
#logo {
  padding: 60px 0 70px;
  text-align: center;
}
#logo h1, #logo > h2 {
  margin: 0;
  padding: 0;
}
/*--- AZTheme: Menu top ---*/
.az-menu-top {
    position: relative;
}
#nav-wrapper {
  float: left;
}
#nav-wrapper ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
#nav-wrapper li {
    text-align: left;
}
#nav-wrapper .menu > li {
  display: inline-block;
  margin-right: 25px;
}
#nav-wrapper .menu > li:last-child {
    margin-right: 0;
}
#nav-wrapper li.menu-item-has-children {
  position: relative;
}
#nav-wrapper .menu a {
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#nav-wrapper .menu-item-has-children > a {
    padding-right: 15px;
}
#nav-wrapper .sub-menu .sub-menu a {
    padding-left: 15px;
}
#nav-wrapper .menu .dropdown-toggle, #nav-wrapper .sub-menu .dropdown > a {
    position: relative;
    width: 100%;
}
#nav-wrapper .menu .dropdown-toggle .caret, #nav-wrapper .sub-menu .dropdown > a .caret {
    border: medium none;
    height: 25px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 25px;
    right: -15px;
}
#nav-wrapper .sub-menu .dropdown > a .caret {
    right: 15px;
}
#nav-wrapper .sub-menu .dropdown > a .caret:after,
#nav-wrapper .menu .dropdown-toggle .caret:after {
    position: absolute;
    font-family: "FontAwesome";
}
#nav-wrapper .menu .dropdown-toggle .caret:after {
    content: "\f107";    
    left: 50%;    
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}
#nav-wrapper .sub-menu .dropdown > a .caret:after {
    content: "\f105";
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}
#nav-wrapper .sub-menu {
  background-color: #000;
  min-width: 220px;
  opacity: 1;
  position: absolute;
  top: 100%;
  visibility: hidden;
  z-index: 10;
  border-top: none;
}
#nav-wrapper .sub-menu li {
  border-top: 1px solid #1a1a1a;
  display: inline-block;
  margin: 0;
  padding: 0 0 0 15px;
  width: 100%;
}
#nav-wrapper .sub-menu li a {
  color: #888888;
  font-size: 10px;
  font-weight: 500;
  line-height: 35px;
  width: 100%;
}
#nav-wrapper .sub-menu .sub-menu {
    left: 100%;
    top:-1px;
}
/*---AZTheme: Top search ---*/
.top-search {
  border-left: 1px solid #1a1a1a;
  float: right;
  padding-left: 30px;
  position: relative;
  text-align: right;
}
.top-search .icon-search, .menu a {
  color: #666;
  font-size: 12px;
  line-height: 50px;
}
.az-search {
    position: absolute;
    right: 0;
    top: 51px;
}
.top-search .searchform > span, .top-search .az-search .close-touch {
  display: none;
}
.top-search .searchform {
    display: none;
}
.top-search .az-search .text {
  border: medium none;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.15);
  display: inline-block;
  line-height: normal;
  padding: 10px;
  width: 250px;
}
.socials {
  float: right;
  line-height: 50px;
  margin-right: 20px;
}
.socials .social-icon {
  color: #fff;
  font-size: 13px;
  padding: 0 10px;
}
.socials .social-icon:hover {
    color: #f37e7e;
}
.no-top-search {
    margin-right: 0;
}
.no-top-search .social-icon {
    padding: 0;
    margin-left: 15px;
}
/*---AZTheme: Main container---*/
#main-container {
  margin: 0;
  position: relative;
  z-index: 5;
}
/*---AZTheme: Featured Slider ---*/
.featured-area {
    margin-bottom: 60px;
}
.feature-slider {
  position: relative;
  background: #fff;
}
.feature-slider .post-text-inner {
  padding: 30px 60px 0 0;
  text-align: center;
}
.feature-slider .post-text-inner .post-excerpt {
  text-align: left;
}
.feature-slider .owl-controls {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%); 
}
.feature-slider .owl-controls .owl-prev, .feature-slider .owl-controls .owl-next  {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
  font-weight: bold;
  line-height: 30px;
  margin: 0;
  padding: 20px 15px;
}
.feature-slider .owl-controls .owl-prev:hover, .feature-slider .owl-controls .owl-next:hover {
    background-color: #f37e7e;
}
.feature-slider .owl-controls .owl-next {
    float: right;
}
.feature-slider .owl-controls .owl-prev {
    float: left;
}
.feature-slider .slide-item-image {
  position: relative;
}
.feature-slider .slide-item-image::after {
  border-color: rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 15px;
  content: "";
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}
/*---AZTheme: Widgets---*/
.widget, .az-single-post-next-prev, .az-post-author, .post-related, #comments, #respond, body.page .type-page.page, .single-post-meta {
  margin: 0 0 50px;
  overflow: hidden;
}
.az-post-author, .post-related, #comments, #respond {
  border: 1px solid #000000;
  padding: 15px;
}
.post-box-title, #reply-title, .az-post-author h4, .az-post-author h4 a {
  color: #000000;
  font-size: 15px;
  letter-spacing: 1px;
}
#sidebar .widget:last-child {
  margin-bottom: 0;
}
.widget ul {
  list-style: outside none none;
}
.widget li a{
    color:#111;
}
.widget li {
  line-height: 45px;
  color: #888;
}
.menu-main-menu-container > ul {
  padding: 0;
}
.widget > ul {
  margin: 0;
  padding: 0;
}
.widget li a:hover {
    color: #f37e7e;
}
.widget .widget-title {
  background: #000000 none repeat scroll 0 0;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 0 30px;
  padding: 5px 15px;
  position: relative;
  text-transform: uppercase;
}
.widget .widget-title::after {
  border-color: #000000 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 8px;
  bottom: -16px;
  content: "";
  left: 30px;
  position: absolute;
}
.about-widget.widget-content {
  text-align: center;
}
.widget_about_me .about-title {
  color: #000;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 2px;
  margin: 15px 0 5px;
  text-transform: uppercase;
  width: 100%;
}
.about-widget.widget-content > p {
  margin-bottom: 0;
}
.xeom_social_widget .social-widget {
  text-align: center;
}
.xeom_social_widget .social-widget a, .az-post-author .social-share a, .post .post-share .social-icon {
  border: 1px solid #000000;
  color: #090909;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  line-height: 30px;
  margin-right: 10px;
  text-align: center;
  width: 30px;
}
.post .post-share .social-icon {
    margin-bottom: 0;
}
.xeom_social_widget .social-widget a:hover, .post .post-share .social-icon:hover, .az-post-author .social-share a:hover {
    border-color: transparent;
    background: #f37e7e;
    color: #fff;
}
.widget_mc4wp_form_widget {
  background: #dedede none repeat scroll 0 0;
  padding: 15px;
}
.widget_mc4wp_form_widget .mc4wp-form-basic, .widget_mc4wp_form_widget .mc4wp-form-theme {
    margin: 0;
}
.widget_mc4wp_form_widget p {
    margin: 0;
    text-align: center;
}
.mc4wp-form input[type="email"], .error-page .searchform input[type="text"], .widget_search .text {
  border: 1px solid #cccccc;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: normal;
  padding: 10px;
  width: 100%;
}
.widget_mc4wp_form_widget .mc4wp-form-basic input[type="email"] {
  max-width: 100%;
}
.error-page .searchform input[type="text"] {
    width: 25%;
}
.mc4wp-form input[type="submit"], .error-page .searchform button[type="submit"], #comment_submit, .widget_search button[type="submit"], .wpcf7-form-control.wpcf7-submit {
  background: #000000 none repeat scroll 0 0;
  border: medium none;
  color: #ffffff;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 31px;
  margin: 25px 0 0;
  padding: 0 20px;
  text-transform: uppercase;
  width: auto;
}
#comment_submit, .wpcf7-form-control.wpcf7-submit {
    width: auto;
}
.wpcf7-form-control.wpcf7-submit {
    margin: 0;
}
.error-page .searchform button[type="submit"]:hover, .mc4wp-form input[type="submit"]:hover, #comment_submit:hover, .wpcf7-form-control.wpcf7-submit:hover {
    color: #fff;
    background: #f37e7e;
}
.widget .mc4wp-form label {
  color: #000;
  font-size: 10px;
  font-weight: normal;
  letter-spacing: 1px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.widget .instagram-pics {
  list-style: outside none none;
  margin: 0 -3px;
  padding: 0;
}
.widget .instagram-pics li {
  display: inline-block;
  margin-bottom: 6px;
  padding-left: 3px;
  padding-right: 3px;
  width: 33.3333%;
}
.widget .latest-post {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget .latest-post li {
  display: inline-block;
  margin: 0 0 15px;
  overflow: hidden;
  width: 100%;
}
.widget .latest-post li:last-child {
    margin-bottom: 0;
}
.widget .latest-post .post-image {
  float: left;
  margin-right: 10px;
}
.widget .latest-post a, .single-post .post-related .post-title a {
  color: #000000;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.widget .latest-post .post-item-text > h4 , .post-related .post-title{
  margin: 0;
  padding: 0;
}
.widget .latest-post time a, .post-related .time a, .post time a, .aztheme-like-post.liked {
    color: #666;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 0;
    text-transform: capitalize;
}
.widget_categories > ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.widget_categories li {
  color: #666;
  font-size: 13px;
  line-height: 45px;
}
.widget_categories li a {
  color: #000000;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
}
.widget_recent_comments ul {
  list-style: outside none none;
  padding: 0;
}
.widget .tagcloud {
  padding: 7px 0 0;
}
.widget_tag_cloud a, .az-post-tags a {
  border: 1px solid #000000;
  color: #000000;
  display: inline-block;
  font-size: 10px !important;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 25px;
  margin: 0 5px 10px 0;
  padding: 0 10px;
  text-transform: uppercase;
}
.widget_tag_cloud a:hover, .az-post-tags a:hover {
    color: #fff;
    background-color: #f37e7e;
    border-color: transparent;
}
/*---AZTheme: 404---*/
.error-page {
  text-align: center;
}
/*---AZTheme: Post ---*/
.az-blog-list .post-format::after, .az-blog-zigzag .post:nth-child(2n) .post-format::after, .az-blog-zigzag .post:nth-child(2n+1) .post-format::after {
  border-style: solid;
  border-width: 15px;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.az-blog-standard .has-post-thumbnail .post-format::after, .az-blog-masonry .post-format::after{
    left: 30px;
    border-style: solid;
    border-width: 15px;
    content: "";
    position: absolute;
    bottom: 0;
    border-color: rgba(0, 0, 0, 0)  rgba(0, 0, 0, 0) #f5f5f5 rgba(0, 0, 0, 0);
}
.az-blog-list .post-format::after, .az-blog-zigzag .post:nth-child(2n+1) .post-format::after {
  border-color: rgba(0, 0, 0, 0) #f5f5f5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  right: 0;
}
.az-blog-zigzag .post:nth-child(2n) .post-format::after {
  border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #f5f5f5;
  left: 0;
}
.az-blog-masonry .post-format,
.az-blog-list .post-format,
.az-blog-zigzag .post-format,
.az-blog-standard .has-post-thumbnail .post-format {
  position: relative;
}
.format-video .post-format, .format-audio .post-format {
  position: relative;
}
.format-video .post-format::before, .format-audio .post-format::before {
  background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;
  border-radius: 50%;
  color: #ffffff;
  display: block;
  font-family: "FontAwesome";
  font-size: 20px;
  height: 50px;
  left: 50%;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}
.single-post .format-video .post-format::before, .single-post .format-audio .post-format::before {
    content: "";
}
.format-audio .post-format::before {
    content: "\f027";
}
.format-video .post-format::before {
    content: "\f03d";
}
.post-sticky {
  border: 1px solid #252525;
}
.az-blog-zigzag .post:nth-child(2n) .az-post-thumbnail {
  float: right;
}
.post {
  border-bottom: 1px solid #ddd;
  margin: 0 0 50px;
  padding-bottom: 50px;
}
article.az-single-post, #main-container .page.type-page {
  border-bottom: medium none;
  padding-bottom: 0;
}
.single-post #main-container .post {
  margin-bottom: 0;
}
.az-blog-masonry .post {
  border: medium none;
}
.az-blog-list .post-content {
  padding: 20px 25px 20px 0;
}
.az-blog-list .post-content {
  padding: 20px 25px 20px 0;
}
.post-cats {
  margin: 0;
  color: #f37e7e;
}
.single-post .post .post-content > .post-title {
  margin-bottom: 25px;
}
.post .post-meta { overflow: hidden; }
.az-blog-standard .post .post-content, .az-blog-masonry .post .post-content, .single-post .post .post-content {
  padding: 20px 0 0;
}

.post-content {
  padding: 20px 0;
}
.post-cats > a {
  color: #f37e7e;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.post .post-title > a, .post-text-inner .post-title > a, .post .post-title, .post-text-inner .post-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    margin: 8px 0 0;
    padding: 0;
}
.post .post-title > a:hover, .post-text-inner .post-title > a:hover {
  color: #f37e7e;
}
.post .post-excerpt, .post-text-inner .post-excerpt{
  line-height: 30px;
  margin: 15px 0;
}
#main-container .az-blog-list .page.type-page {
  margin-bottom: 50px;
}
#main-container .page.type-page {
  margin: 0;
}
.post-title.page-title {
  border-bottom: 1px solid #ddd;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.page .az-page-thumbnail {
    margin-bottom: 30px;
}
.wpcf7-form > p {
  color: #666666;
  font-size: 11px;
  font-weight: bolder;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.post .share-button {
  color: #111;
}
.post .post-share {
  margin-left: 15px;
}
.single-post .post .post-likes {
  float: none;
  margin-left: 15px;
}
.post .post-likes {
  margin-left: 15px;
}
.aztheme-like-post {
  font-size: 12px;
  color: #999;
}
.aztheme-like-post i {
    padding-right: 5px;
}
.post .post-share a {
  padding: 0 10px;
}
.archive-box {
  border: 1px solid #000000;
  margin: 0 0 60px;
  padding: 15px 0;
  text-align: center;
}
.archive-box > span, .archive-box h3 {
  font-weight: 400;
  letter-spacing: 2px;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
.archive-box > span {
    color: #888;
    font-size: 12px;
}
.archive-box h3 {
  color: #090909;
  display: inline;
  font-size: 15px;
  font-weight: 600;
}
#wp-calendar {
  width: 100%;
}
#wp-calendar th, #wp-calendar td {
  border: 1px solid #e9e9e9;
  padding: 5px;
  text-align: center;
}
.widget .recentcomments a::before {
  content: "";
}
/* ----- Slider ----- */
.slider .owl-nav > div {
  background-color: rgba(0, 0, 0, 0.3);
  bottom: 30px;
  color: #ffffff;
  display: inline-block;
  font-size: 18px;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  opacity: 1;
  position: absolute;
  text-align: center;
  width: 40px;
}
.slider .owl-nav > div.owl-prev,
.slider .owl-nav > div.owl-next {
    -webkit-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
}
.slider .owl-nav > div.owl-prev {
  left: 15px;
}
.slider .owl-nav > div.owl-next {
  left: 65px;
}
.slider .owl-nav > div:hover{
	background-color: #f37e7e;
}
/*---Form comment---*/
#message {
  border: 1px solid #e9e9e9;
  min-height: 180px;
  padding: 0 5px;
  width: 100%;
  line-height: 35px;
  padding: 0 15px;
}
#commentform .input-form {
  border: 1px solid #e9e9e9;
  line-height: 35px;
  margin-bottom: 25px;
  padding: 0 15px;
  width: 100%;
}
/*--- AZTheme: Single Post ---*/
.single-post .post .post-share {
    display: inline;
}
.single-post .post-meta-container {
  padding: 5px 0;
  text-align: center;
}
.single-post .post-meta {
  border-color: #e9e9e9;
}
.single-post-meta {
  margin-top: 35px;
}
.az-single-post-next-prev .prev-post {
  float: left;
}
.az-single-post-next-prev .next-post {
  float: right;
}
.az-single-post-next-prev .prev-post span {
  margin-right: 10px;
}
.az-single-post-next-prev .next-post span {
  margin-left: 10px;
}
.az-post-tags {
  margin: 50px 0 0;
}
.az-post-author .author-img {
  float: left;
  margin-right: 20px;
}
.az-post-author .social-share {
  text-align: right;
}
.az-post-author .social-share a {
    margin-bottom: 0;
}
.post-related .post-title {
  margin: 10px 0;
}
.post-related .post-title a:hover {
  color: #f37e7e;
}
/*----- COMMENTS -----*/
#comments .comment-list{
    margin-bottom: 50px;
    padding: 0;
}
#comments ol.comment-list, #comments .comment > ol.children{list-style: none;}
.comment-list .comment-body {
    border-bottom: 1px dashed #e9e9e9;
    margin-bottom: 30px;
    padding: 25px 25px 25px 0;
}
.comment-body .comment-author{
    float: left;
    margin-right: 22px;
}
.comment-body .comment-author img{max-width: 70px}
.comment-body .comment-content{overflow: hidden;}
.comment-body .comment-content .author-name {
  color: #333333;
  display: inline-block;
  font-size: 11px;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-right: 20px;
}
.comment-body .comment-content .author-name a{
  color: inherit;
}
.comment-body .date-comment{
    font-size: 12px;
    color: #999999;
}
.comment-body .date-comment a{
    color: inherit;
}
.comment-body .comment-content .reply{
    float: right;
}
.comment-body .comment-content .reply a {
    background: #aaaaaa none repeat scroll 0 0;
    color: #ffffff;
    font-size: 10px;
    font-weight: normal;
    letter-spacing: 0.75px;
    margin-left: 10px;
    padding: 3px 6px;
}
.comment-body .comment-content .reply a:hover{
    text-decoration: none;
}
.comment-body .comment-content .comment-text{
    letter-spacing: 0.75px;
    margin-top: 10px;
}
.comment-body .comment-content .comment-text p{
    margin-bottom: 10px;
    color: #666;
}
#commentform .input-form, #commentform .textarea-form {
    border: 1px solid #e9e9e9;
    color: #666666;
    font-size: 13px;
    font-weight: normal;
    line-height: 35px;
    padding: 3px 6px;
    width: 100%;
    margin-bottom: 30px;
}
#commentform .submit:hover {
    background: #f37e7e;
    color: #ffffff;
}
#cancel-comment-reply-link {
  font-size: 18px;
  margin-left: 15px;
}
/*---AZTheme: Paginaton---*/
.az-pagination .page-numbers {
  padding: 0 15px;
}
.az-pagination .older {
  text-align: left;
}
.az-pagination .newer {
  text-align: right;
}
.az-pagination, .az-single-post-next-prev {
  background: #000000 none repeat scroll 0 0;
}
.az-pagination a, .az-single-post-next-prev a {
  background: #f37e7e;
  color: #ffffff;
  display: inline-block;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 31px;
  padding: 0 10px;
  text-transform: uppercase;
}
.az-pagination a:hover, .az-single-post-next-prev a:hover {
    color: #fff;
    background-color: #f37e7e;
    border-color: #f37e7e;
}
.az-pagination .older a i {
  margin-right: 5px;
}
.az-pagination .newer a i {
    margin-left: 5px;
}
/*---AZTheme: Footer---*/
#az-footer {
  background: #000;
  margin: 80px 0 0;
  padding-top: 30px;
  position: relative;
}
#az-footer::after {
  border-color: #f5f5f5 rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
  border-style: solid;
  border-width: 15px;
  content: "";
  left: 50%;
  position: absolute;
  top: 0;
  transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
}
.az-top-footer .about-widget p {
  margin: 0;
}
#az-footer .widget {
  background: none;
  border: medium none;
  margin-bottom: 0;
  min-height: 445px;
  padding: 0;
}
#az-footer .about-widget.widget-content {
  text-align: left;
}
#az-footer .widget .widget-title, #az-footer .widget_about_me .about-title, #az-footer .widget .latest-post a {
  color: #ffffff;
}
#az-footer .widget .widget-title {
    padding-left: 0;
}
#az-footer .widget .latest-post a:hover {
    color: #f37e7e;
}
#az-footer .az-top-footer .about-widget {
  color: #888;
}
#az-footer .widget .latest-post li{
    margin: 0 0 2.5px;
}
.copyright-inner {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
#az-footer .widget .post-item-text time a {
  color: #888;
}
#az-footer .widget .instagram-pics {
    margin-right: -15px;
}
#az-footer .copyright {
  color: #888888;
  float: left;
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.footer-bottom {
  border-top: 1px solid #111111;
  margin-top: 50px;
}
.back-to-top {
  color: #888;
  float: right;
  font-weight: 400;
}
.slicknav_menu {
	display:none;
}
.slicknav_icon-bar {
  background: #090909;
  display: block;
  height: 2px;
  margin-bottom: 2px;
  width: 30px;
}
.wpcf7-form .wpcf7-text {
  border: 1px solid #eeeeee;
  line-height: normal;
  padding: 10px;
}
.wpcf7-textarea {
    border: 1px solid #eeeeee;
    padding: 0 5px;
}
.wpcf7-form .wpcf7-text, .wpcf7-textarea {
  min-width: 430px
}
.az-menu-top .togole-mainmenu {
    display: none;
}
.is_ticky_nav {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

/*--- UPDATE: 19-01-2016 ---*/
.az-categories-image ul {
  margin: 0;
  padding: 0;
}
.az-categories-image ul li {
  margin-bottom: 15px;
  position: relative;
}
.az-categories-image ul li:last-child {
    margin-bottom: 0;
}
.az-categories-image ul li .over-bg {
  left: 50%;
  line-height: 35px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}
.az-categories-image ul li .over-bg a {
  background: #f37e7e none repeat scroll 0 0;
  color: #ffffff;
  display: block;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 0 15px;
  text-transform: uppercase;
}
/*--- End: Updated ---*/

@media (max-width: 991px) {
    .az-main-menu {
        display: block;
    }
    .slicknav_menu {
      display: block;
      line-height: 60px;
    }
    .slicknav_nav > li {
      line-height: 35px;
    }
    #logo {
      text-align: center;
    }
    .az-blog .post:nth-child(2n) .az-post-thumbnail{
        float: none;
    }
    .az-blog-list .post-format::after {
      border-color: transparent transparent #f5f5f5;
      bottom: 0;
      left: 30px;
      right: auto;
      top: auto;
      transform: none;
      -moz-transform: none;
      -webkit-transform: none;
    }
    .post .post-content {
      padding: 25px;
    }
    .az-pagination {
      margin: 0 0 60px;
    }
    .aztheme_social_widget .social-widget {
      text-align: left;
    }
    .az-blog-list .has-post-thumbnail .post-format:nth-child(2n)::after,
    .az-blog-list .has-post-thumbnail .post-format:nth-child(2n+1)::after,
    .az-blog-zigzag .has-post-thumbnail:nth-child(2n) .post-format::after,
    .az-blog-zigzag .has-post-thumbnail:nth-child(2n+1) .post-format::after,
    .feature-slider .slide-item-image::after {
      border-color: transparent transparent #f5f5f5;
      bottom: 0;
      left: 30px;
      right: auto;
      top: auto;
      transform: none;
    }
    .az-blog-zigzag .post:nth-child(2n+1) .post-content,
    .az-blog-zigzag .post:nth-child(2n) .post-content {
        padding: 20px 0px;
    }
    #az-footer .widget {
        margin-bottom: 50px;
    }
    .footer-bottom, #az-footer {
        margin-top: 0;
    }
    #sidebar .widget:last-child {
      margin-bottom: 60px;
    }
    .feature-slider .post-text-inner {
      padding: 30px 30px 0;
    }
}
@media(min-width: 768px) {
    #nav-wrapper .sub-menu li a:hover, #nav-wrapper .children li a:hover {
        border: none;
    }
    #nav-wrapper li.menu-item-has-children:hover > .sub-menu {
        visibility: visible;
        display: block;
    }
    #nav-wrapper {
        display: block!important;
    }
}
@media (max-width: 767px) {
    .az-menu-top .togole-mainmenu {
        display: block;
    }
    #main-menu {
      /*position: relative;*/
    }
    #main-menu .socials {
      margin: 0;
      padding: 0;
      position: absolute;
      right: 70px;
    }
    .az-menu-top .togole-mainmenu {
      color: #fff;
      font-size: 15px;
      font-weight: 500;
      line-height: 50px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      float: left;
    }
    .az-menu-top .togole-mainmenu > i {
      border: 1px solid #1a1a1a;
      padding: 5px 15px;
    }
    #nav-wrapper {
      width: 100%;
    }
    #nav-wrapper .menu > li{
      display: list-item;
      margin: 0;
      padding: 0;
      border-top: 1px solid #1a1a1a;
    }
    .top-search {
      position: absolute;
      right: 0;
      top: 0;
    }
    #nav-wrapper {
        display: none;
    }
    #nav-wrapper .sub-menu {
        border: none;
        padding: 0;
        margin: 0;        
        position: relative;
        visibility: hidden;
        display: none;
        box-shadow: none;
    }
    #nav-wrapper .sub-menu a {
        padding-left: 15px;
    }
    #nav-wrapper .sub-menu .sub-menu a {
        padding-left: 30px;
    }
    #nav-wrapper .sub-menu li {
        padding: 0;
    }
    #nav-wrapper ul .az-active {
        opacity: 1;
        visibility: visible;
        display: block;
    }
    #nav-wrapper .menu .dropdown-toggle, #nav-wrapper .sub-menu .dropdown > a {
        display: inline;
    }    
    #nav-wrapper .menu .dropdown-toggle .caret, #nav-wrapper .sub-menu .dropdown > a .caret {
        border: medium none;
        color: #333333;
        height: 30px;
        padding: 5px;
        width: 30px;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret {
        right: -15px;
    }
    #nav-wrapper .menu .dropdown-toggle .caret::after {
      left: 50%;
      top: 55%;
      transform: translate(-55%, -50%);
    }
    #nav-wrapper .menu .caret::after {
      content: "\f107";
      font-family: "FontAwesome";
      font-size: 15px;
      left: inherit;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
    }
    #nav-wrapper .sub-menu .sub-menu {
        border: medium none;
        left: 0;
        position: relative;
        top: 0;
    }
    #nav-wrapper .sub-menu .dropdown > a .caret::after {
      content: "\f107";
    }
    .feature-slider .owl-controls .owl-prev, .feature-slider .owl-controls .owl-next {
      padding: 20px 10px;
    }
}
@media (max-width:480px){
    .post .post-share {
      margin-left: 5px;
    }
    .aztheme_social_widget .social-widget a, .az-post-author .social-share a, .post .post-share .social-icon{
        margin-left: 2px;
        margin-right :2px;
    }
    .single-post .post .post-likes{margin-left:5px}
    #az-footer .widget {
      margin-bottom: 50px;
      min-height: auto;
    }
}