#customize-control-featured_id:after {
	content:"Note: Separate each ID with a comma. The IDs you put in here will override the featured category option above.";
	font-size:12px;
	font-style:italic;
	color:#888;
}
#customize-control-featured_slider_autoplayTimeout:after {
	content:"Note: 1s = 1000, default = 5s (5000)";
	font-size:12px;
	font-style:italic;
	color:#888;
}   